<h1> Burgers! </h1>

<!--Not eaten yet-->
<h2> Burgers that have not been eaten! </h2>
<!--Update-->
<ul>
	{{#each burgers}}
	  {{#unless this.devoured}}
	    <li>
	      {{this.burger_name}}

	      <form action="/{{this.id}}?_method=PUT" method="POST">
	        <input type="hidden" name="devoured" value="true">
	        <button type="submit"> Devour </button>
	      </form>
	  {{/unless}}
	    </li>
	{{/each}}
</ul>

<!--List those that have been devoured-->
<ul>
	{{#each burger}}
	  {{#if this.devoured}}
	    <li>
	      {{this.burger_name}}
	    </li>
	  {{/if}}
	{{/each}}
</ul>

<!--Add Burger-->
<!--Create-->
<h2> Add a Burger </h2>
<form class="create-update-form" action="/" method="POST">

	<div class="form group">
	  <label for="burger-input"> Burger Name:</label>
	  <input type="text" id="burger-input" name="burger-name">
	</div>
	
	<!--Burger submit button-->
	<button type="submit" id="burger-add"> Add Burger! </button>

</form>











